<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan result</title>
</head>
<body>
    <h1>{{ target_url }}: {{ xss_type }}</h1>
    <h2>Risk level: {{ risk_level_letter }} ({{ risk_level }})</h2>
    <table>
      <thead>
        <tr>
          <th>Type XSS</th>
          <th>Url</th>
          <th>Payload</th>
          <th>Recommendation</th>
        </tr>
      </thead>
      <tbody>
      {% if review_data|length %}
        {% for scan_type, review in review_data.items %}
          {% for review_item in review %}
            <tr>
              <td>{{ scan_type }}</td>
              <td>{{ review_item.url }}</td>
              <td>{{ review_item.script }}</td>
              <td>{{ review_item.recommendation }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        {% else %}
            <p>XSS not found</p>
        {% endif %}
      </tbody>
    </table>
</body>
</html>